.center {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 50%;
   
    padding: 10px;
  }
.blink {
    animation: blinker .7s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
  .red{
      color: red;
  }